.doc_tag {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.tag_input {
  border: 1px solid #919191;
  outline: 1px solid #91d5ff;
}
.tags_add_btn {
  cursor: pointer;
}
.iconfont {
  vertical-align: middle;
  margin-left: 10px;
}