.markdown_edit_container {
  // 文章内容
  padding: 20px;

  .markdown_content {
    .markdown_text {
      padding: 20px;
      min-height: 500px;
      background-color: #fff;
    }


  }

  //文章标题
  .doc_title {
    width: 100%;

    input {
      width: 100%;
      border: none;
      outline: none;
      padding: 5px 0;
      border-bottom: 1px solid #919191;
      font-size: 20px;
      font-weight: 400;
    }
  }

  .content_head {
    padding: 20px;
    background-color: #fff;
  }

  // 预览区
  .content_preview_wrap {
    padding: 20px;
    background-color: #fff;
    min-height: 900px;
    margin-left: 20px;
    position: relative;

    h3 {
      position: absolute;
      left: 20px;
      top: 20px;
      color: #919191;
    }
  }
}

@media (max-width:750px) {
  .content_preview_wrap {
    margin-top: 20px;
    margin-left: 0 !important;
  }
}
